altair==5.5.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker==1.9.0
bottleneck
brotli
cachetools==5.5.2
certifi
cffi
charset-normalizer
click==8.2.1
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
gitdb==4.0.12
GitPython==3.1.44
h11
httpcore
httpx
idna
ipykernel
ipython
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mistune
narwhals==1.40.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt-toolkit
protobuf==6.31.0
psutil
ptyprocess
pure-eval
pyarrow==20.0.0
pycparser
pydeck==0.9.1
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn==1.5.0
scipy
seaborn
Send2Trash
six
smmap==5.0.2
sniffio
soupsieve
stack-data
streamlit==1.45.1
tenacity==9.1.2
terminado
threadpoolctl
tinycss2
toml==0.10.2
tomli
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
xgboost==1.7.6